version: '3.4'
services:
 postgres-service-data:
  image: postgres:latest
  environment:
   POSTGRES_DB: ServiceDb
   POSTGRES_USER: admin
   POSTGRES_PASSWORD: p
  ports:
   - "1212:5432"
  networks:
   - RavenNetwork

 postgres-training-data:
  image: postgres:latest
  environment:
   POSTGRES_DB: TrainingDb
   POSTGRES_USER: admin
   POSTGRES_PASSWORD: p
  ports:
   - "1213:5432"
  networks:
   - RavenNetwork

 redis-logs:
  image: redis:latest
  ports:
   - "6379:6379"
  volumes:
   - redis_data:/data
  networks:
   - RavenNetwork

 minio:
  image: minio/minio:latest
  environment:
   MINIO_ACCESS_KEY: "ravenMinIOaccess"
   MINIO_SECRET_KEY: "ravenMinIOsecret"
  command: server /data
  ports:
   - "9000:9000"
  volumes:
   - minio-data:/data
  networks:
   - RavenNetwork

 neo4j:
  image: neo4j:latest
  environment:
   NEO4J_AUTH: neo4j/ravenpas
  ports:
   - "7474:7474"
   - "7687:7687"
  networks:
   - RavenNetwork

 raven-tags-predictor:
  build: ./Raven.TagsPredictor
  ports:
   - "8008:8008"
  command: ["uvicorn", "Raven-TagsPredictor:app", "--host", "0.0.0.0", "--port", "8008"]
  volumes:
      - ./Raven.TagsPredictor:/app
  networks:
   - RavenNetwork

 raven:
  build: ./Raven
  environment:
   - POSTGRES_SERVICE_HOST=postgres-service-data
   - POSTGRES_SERVICE_DB=ServiceDb
   - POSTGRES_SERVICE_USER=admin
   - POSTGRES_SERVICE_PASSWORD=p
   - POSTGRES_TRAINING_HOST=postgres-training-data
   - POSTGRES_TRAINING_DB=TrainingDb
   - POSTGRES_TRAINING_USER=admin
   - POSTGRES_TRAINING_PASSWORD=p
  ports:
   - "32778:8080"
   - "32779:8081"
  volumes:
  - ./Raven.DB.Neo4j/Requests:/app/CypherRequests
  depends_on:
   - postgres-service-data
   - postgres-training-data
   - minio
   - neo4j
   - redis-logs
  networks:
   - RavenNetwork

networks:
  RavenNetwork:
    driver: bridge

volumes:
  minio-data:
   driver: local
  neo4j-data:
   driver: local
  redis_data:
   driver: local